@page "/"
@page "/index"

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><b>Listado de Alumnos hecho en Blazor</b></h1>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vitae blandit est. Cras tincidunt, tellus quis molestie ornare, 
                ipsum risus placerat enim, in fringilla lectus tellus at sem. In a accumsan turpis. 
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Proin pellentesque condimentum massa vitae rutrum. Maecenas ut leo eget lacus fringilla 
                cursus vel at erat. Ut consequat nunc eu ipsum faucibus iaculis. In justo ligula, 
                dignissim eu cursus sit amet, varius sit amet leo. Aenean pharetra scelerisque finibus.
            </h4>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.twitch.tv/?channel=excessiveprofanity&parent=localhost"></iframe>
        </div>
    </div>
</div>